html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, section, time, article, figure, hgroup {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

input:focus {
    outline: 0; 
	
}

body{font-family: 'Helvetica Neue','Hiragino Sans GB','WenQuanYi Micro Hei','Microsoft Yahei',sans-serif;}

.central{margin:auto; margin-top:0px; width:1280px;}


/* header start */
header {
width:100%;
background-color:rgba(255,255,255,0.98);
float:left;
position:fixed;
z-index:99999;
overflow:hidden;
border-bottom:1px solid #EFEFEF;

}

header .navlogo {
height:60px;
float:left;
margin-left:10px;
padding-left:20px;
padding-right:20px;
}

header .navlogo img {
height:42px;
margin-top:9px
}

header .navcontainer{float:right}

header .navcontainer a{
font-size:15px;
margin:0;
float:left;
text-decoration:none;
list-style:none;
height:100%;
line-height:60px;
padding-left:16px;
padding-right:16px;
color:#333333;
}

header .navcontainer a:hover{color:#2798c4}

header .navcontainer a#selected{color:#2798c4}

.navcontainer a:last-child {
margin-right:20px
}

header .navmenuicon {
width:42px;
height:40px;
float:right;
margin-right:10px;
background-image:url(../img/menu.svg);
background-repeat:no-repeat;
background-position:11px 10px;
background-size:20px 20px;
background-color:#FFFFFF;
border:1px solid #CCCCCC;
border-radius:2px;
margin-top:9px;
display:none;
}

.navmenuicon:hover {
background-color:#EFEFEF; cursor:pointer;
}

/* header end */



/* content start */

.covercontainer {float:left; height:450px; width:100%;  
margin-top:60px; background-image:url('../img/bg_new_1.jpg'); background-repeat: no-repeat; background-size:cover; background-position: center bottom; 
}

.overlayer{float:left;width:100%; height:100%;  background: rgba(25,118,210,0.45); }

.covercontainer .slidetextcontainer{  margin-left:5%;  width:60%; float:left;}

.covercontainer .slidetitle{margin-top:100px; color:#FFFFFF; font-size:45px; width:100%; }

.covercontainer .slidedis{margin-top:20px; color:#FFFFFF; font-size:16px; width:100%; }

.contendcontainer{float:left; width:100%; }


.contenttitle_central{width:90%; float:left; margin-left:5%; text-align:center; font-size:35px;  margin-top:40px;color:#333333; }
.contentdis_central{ width:90%; float:left; margin-left:5%; text-align:center; font-size:16px;  margin-top:20px;color:#999999; }

.contentdis_central .button{ border:1px solid #2798c4; color:#2798c4; font-size:16px; padding:10px 24px; text-decoration:none; border-radius:2px; margin-top:20px; }
.contentdis_central .button:hover{background-color:#2798c4; color:#FFFFFF; transition:0.5s;}


.contentdis_central .qrcodecontainer{width:150px; margin:auto; margin-top:20px; line-height:25px; padding:15px 15px; box-shadow:5px 10px 30px #EFEFEF; border-radius:4px; }

.contentdis_central .qrcodecontainer img{width:100%}


.content_text .qrcodecontainer{width:150px; margin:auto; margin-top:20px; line-height:25px; padding:15px 15px; box-shadow:5px 10px 30px #EFEFEF; border-radius:4px; text-align:center; }

.content_text .qrcodecontainer img{width:100%}


.slideqrcontainer{float:right; margin-right:5%; width:25%; text-align:center; margin-top:110px; }

.slideqrcontainer .qrcodecontainer{width:150px; margin:auto; line-height:25px; padding:15px 15px; box-shadow:5px 10px 30px #EFEFEF; border-radius:4px; background-color:#FFFFFF; display:none; }


.slideqrcontainer .qrcodecontainer img{width:100%}

.contentdis_central a.mail { font-weight:bold; color:#2798c4; text-decoration:underline; }


.video {
float:right;
width:40%;
overflow:hidden;
position:relative;
padding-bottom:25%;
height:0;
margin-top:40px;
margin-right:5%;
box-shadow:5px 10px 30px #CCCCCC;
}

.video iframe {
position:absolute;
top:0;
left:0;
width:100%;
height:100%;

}

.videdis{float:left; margin-left:5%; width:45%; font-size:15px; color:#969696; margin-top:40px;}

.videdis .text{float:left; width:100%; line-height:25px;}

.videdis .text a{font-weight:bold; color:#2798c4; text-decoration:underline; }

 .buttoncontainer{ float:left; width:100%; }

 .buttoncontainer a{float:left; border:1px solid #2798c4; color:#2798c4; font-size:16px; padding:10px 24px; text-decoration:none; border-radius:2px; margin-top:20px; }

.videdis .buttoncontainer a:last-child{margin-left:20px}

 .buttoncontainer a:hover{background-color:#2798c4; color:#FFFFFF; transition:0.5s;}


.contendcontainer_grey{background-color:#FAFCFD;  float:left; width:100%; margin-top:60px; padding-bottom:40px;}

.reasoncard-left{float:left; width:40%; margin-left:5%; padding-top:20px; padding-bottom:20px;  border-radius:4px; margin-top:20px; line-height:27px;}


.reasoncard-left .cardtitle{font-size:20px; color:#333333; float:left; width:100%;}
.reasoncard-left .carddis{font-size:15px; color:#999999; float:left; width:100%; margin-top:10px; }

.img-right{float:right; margin-right:5%; width:35%; box-shadow:5px 10px 50px #EFEFEF; margin-top:30px; }


.reasoncard-right{float:right; width:40%; margin-right:5%; padding-top:20px; padding-bottom:20px;  border-radius:4px; margin-top:20px; line-height:27px;}


.reasoncard-right .cardtitle{font-size:20px; color:#333333; float:left; width:100%;}
.reasoncard-right .carddis{font-size:15px; color:#999999; float:left; width:100%; margin-top:10px; }

.img-left{float:left; margin-left:5%; width:35%; box-shadow:5px 10px 50px #EFEFEF; margin-top:30px; }



.fullwidth{float:left; width:100%; margin-top:20px; margin-bottom:20px; }

.fullwidth a{ border:1px solid #2798c4; color:#2798c4; font-size:16px;  padding:10px 24px; text-decoration:none; border-radius:2px; margin-top:10px; float:left; }

.fullwidth a:hover{background-color:#2798c4; color:#FFFFFF; transition:0.5s;}

.contenttitle_left{ width:90%; float:left; margin-left:5%;  font-size:35px;  margin-top:40px;color:#333333; }
.content_text{ width:90%; float:left; margin-left:5%;  font-size:15px;  margin-top:20px;color:#000000; }

.content_text a.button{ border:1px solid #2798c4; color:#2798c4; font-size:16px; padding:10px 24px; text-decoration:none; border-radius:2px; }

.contenttitle_question{ width:90%; float:left; margin-left:5%;  font-size:24px;  margin-top:40px;color:#2798c4; }

.splitter{width:90%; float:left; margin-left:5%; border-top:1px dotted #CCCCCC; margin-top:40px;}



.person_img{float:left; margin-left:5%; width:220px; margin-top:30px;  }
.person_intro{float:left; margin-left:5%; width:50%; color:#000000; font-size:17px; line-height:35px; margin-top:35px;}

.person_intro .name{font-size:27px; color:#333333; }

.person_intro .job{font-size:16px; color:#666666; width:100%; }
.fullwidth_person{float:left; width:100%; margin-top:20px; margin-bottom:20px; }


.classcategory{ float:left; width:90%; margin-left:5%; margin-top:40px; border-bottom:1px dotted #B0BEC5; padding-bottom:30px; font-size:22px; color:#333333; }


.classrow{float:left; width:90%; margin-left:5%; margin-top:30px; border-bottom:1px dotted #CCCCCC; padding-bottom:30px; }

.classrow img{ width:150px; border-radius:4px; float:left; margin-right:20px; }

.classrow .classtitle{ font-size:24px; color:#2798c4;  overflow:hidden; }

.classrow .classtitle a{color:#2798c4; text-decoration:none;}

.classrow .dis{font-size:16px; color:#999999;  overflow:hidden;}


.resourcerow{  float:left; width:90%; margin-left:5%; margin-top:40px; border-bottom:1px dotted #B0BEC5; padding-bottom:30px; font-size:15px; color:#333333; }

.resourcerow .resource_title{font-size:24px; color:#2798c4;  overflow:hidden; }

.resourcerow .resource_title a{color:#2798c4; text-decoration:none;}


.resourcerow .dis{font-size:15px; color:#999999;  overflow:hidden;}


.resourcecategory { float:left; width:90%; margin-left:5%; margin-top:30px; border-bottom:1px dotted #B0BEC5; padding-bottom:30px; font-size:22px; color:#999999; }

.resourcerow ul{float:left; width:100%; color:#999999; }

.resourcerow ul li{ list-style:inside; line-height:40px;}

.resourcerow ul li a{ color:#2798c4; text-decoration:none; text-align:16px;}


/* content end */





/* footer start */

footer{width:100%;  background-color:#313232; float:left;  margin-top:40px; }

.footertext{width:90%; text-align:center; margin-left:5%; font-size:13px; color:#999999; padding-top:40px; padding-bottom:40px;}




/* footer end */



@media only screen and (max-width: 1280px) {
.central{margin:auto; margin-top:0px; width:100%;}

}

@media only screen and (max-width: 630px) {
header .navmenuicon {
display:block
}

header .navlogo {
margin-left:10px;
padding-left:0px;
}

.navcontainer {
width:100%;
height:100%;
display:none
}

.navcontainer.responsive {
display:block
}

header .navcontainer a{
width:100%;  height:50px; line-height:50px; border-top:1px solid #EFEFEF;
}

.covercontainer{}

.covercontainer .slidetextcontainer{width:90%;}


.covercontainer .slidetitle{margin-top:60px; text-align:center; font-size:30px;}

.covercontainer .slidedis{text-align:center; font-size:14px; margin-top:5px; text-overflow:ellipsis; height:12em }



.slideqrcontainer{width:90%; margin-top:20px; }
#firstcontent{ margin-top:90px}



.video {width:90%; padding-bottom:40%;}






.videdis {width:90%; }
.reasoncard-right {width:90%; }
.img-right {width:90%; }

.reasoncard-left {width:90%;  }
.img-left {width:90%; }


.fullwidth_person{text-align:center}
.person_img{float:none;  width:220px; margin-top:30px;  }
.person_intro{ margin-left:5%; width:90%; }

.resourcecard{width:42.5%}


}